body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
}

.center {
    text-align: center;
}

.stats {
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
}

.btn-generate,
.btn-stop,
.btn-reset {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn-generate.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 100px;
}

.btn-generate {
    background-color: #32cd32;
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-reset {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.input-container,
.checkbox-container {
    margin-bottom: 10px;
}

.display-container {
    margin: 0 auto;
    max-width: 350px; /* Задайте максимальную ширину для контейнера таблицы */
    padding: 0 20px; /* Добавьте отступы слева и справа */
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    width: 150px;
}

.MuiFormControl-root {
    margin-bottom: 10px;
}

.btn-generate,
.btn-reset {
    margin-top: 10px;
}

.rectangle-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
}

.rectangle {
    height: 40px; /* Updated height */
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    background-color: rgba(255, 0, 0, 0.5);
    color: black;
    font-weight: bold;
    padding-left: 5px;
}

.green {
    background-color: rgba(0, 255, 0, 0.5);
    color: black;
    font-weight: bold;
    padding-right: 5px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    left: calc(50% - 20px);
}

.circle-text {
    font-size: 14px;
    font-weight: bold;
}
